#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Network;
Exec=/usr/bin/MindMate
GenericName[ru_RU]=Неофициальное приложение для чата с ChatGPT
GenericName=Unofficial chat app with ChatGPT
Name=MindMate
Type=Application
Version=1.1.1
Icon=/usr/share/icons/hicolor/scalable/apps/MindMate
